name: Testes

on:
  push:
    branches:
      - main
      - master
      - develop
      - 'feature/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Instalar Java 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Instalar Chrome
        uses: nanasess/setup-chromedriver@v1
        with:
          chromedriver-version: '102.0.5005.61'

      - name: Limpar cache do Maven
        run: mvn dependency:purge-local-repository

      - name: Instalar dependências
        run: mvn clean install

      - name: Debug - Listar conteúdo do diretório
        run: ls -R

      - name: Executar testes
        run: mvn test -X

      - name: Debug - Listar conteúdo do diretório após os testes
        run: ls -R
